/Primer_trabajo/src/pld-arcs-1-N-2022-2023
/Primer_trabajo/src/index-2022-2023
/Primer_trabajo/src/words.txt
/Primer_trabajo/out/
/Primer_trabajo/lib/
/Segundo_trabajo/src/pld-arcs-1-N-2022-2023
/Segundo_trabajo/src/index-2022-2023
/Segundo_trabajo/src/words.txt
/Segundo_trabajo/out/
/Segundo_trabajo/lib/
/Tercer_trabajo/src/pld-arcs-1-N-2022-2023
/Tercer_trabajo/src/index-2022-2023
/Tercer_trabajo/src/words.txt
/Tercer_trabajo/out/
/Tercer_trabajo/lib/